$ORIGIN {{ zone.name }}.
$TTL {{ zone.default_ttl }}

; SOA Record
@   IN  SOA {{ zone.primary_ns }} hostmaster.{{ zone.name }}. (
            {{ '%-12s'|format(serial) }} ; Serial
            {{ '%-12s'|format(zone.refresh) }} ; Refresh
            {{ '%-12s'|format(zone.retry) }} ; Retry
            {{ '%-12s'|format(zone.expire) }} ; Expire
            {{ '%-12s'|format(zone.minimum_ttl) }} ; Minimum TTL
        )

; NS Records
{% for ns_name in zone.nameservers %}
@   IN  NS  {{ ns_name }}.
{% endfor %}

; Zone Records
{% for record in records %}
{% if record.record_type in ('MX', 'SRV') %}
{{ record.name }}{% if record.ttl %}  {{ record.ttl }}{% endif %}  IN  {{ record.record_type }}  {{ record.priority }}  {{ record.value }}
{% else %}
{{ record.name }}{% if record.ttl %}  {{ record.ttl }}{% endif %}  IN  {{ record.record_type }}  {{ record.value }}
{% endif %}
{% endfor %}
